.homeContainer {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

.title {
    font-size: 2.5em;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #3498db;
    display: inline-block;
    padding-bottom: 10px;
}

.description {
    font-size: 1.2em;
    color: #34495e;
    margin-bottom: 40px;
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.contentBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    transition: all 0.3s ease;
}

.contentBlock:hover {
    transform: translateY(-10px);
}

.featureImg {
    width: 45%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.featureImg:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.textContent {
    flex: 1;
    padding-left: 30px;
    background-color: #ecf0f1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.textContent h2 {
    font-size: 1.8em;
    color: #2980b9;
    margin-bottom: 10px;
    border-bottom: 1px solid #2980b9;
    display: inline-block;
    padding-bottom: 5px;
}

.textContent p {
    font-size: 1em;
    color: #7f8c8d;
}

.contentBlock:nth-child(4) .textContent {
    order: 1;
    padding-left: 0;
    padding-right: 30px;
}

.contentBlock:nth-child(4) .featureImg {
    order: 2;
}

/* Styles pour l'effet parallaxe */
.parallaxSection {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.parallaxBackground {
    background-image: url('/assets/parallaxe/Image-Parallaxe.jpg'); /* Assurez-vous d'utiliser le bon chemin vers votre image */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
