.footer {
    background: #222;
    color: #fff;
    display: flex;
    justify-content: space-between; /* Ceci garantira que le contenu est réparti avec un espace entre eux */
    align-items: center;
    padding: 15px 10%;
    position: relative;
    height: 80px;
}

.footerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ceci aligne le contenu du .footerContent à gauche */
}

.footerContent ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
}

.footerContent ul li {
    cursor: pointer;
    transition: color 0.3s;
    margin-bottom: 10px;
}

.footerSocial {
    display: flex;
    align-items: center;
}

.footerSocial a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.footerTitle {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    text-align: center;
    margin: 0 auto; /* Ceci centrera le titre */
}
